/*header styling*/
.head {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.logo {
    width: auto;
    height: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
ul {
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.topbutton {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0px;
    border-radius: 8%;
}

.coverimage {
    height: auto;
    width: 400px;
    border-radius: 10px;
}

.bottomheader {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.textheadbutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    padding-bottom: 1px;
} 
/*Body styling*/
h2 {
    text-align: center;
    color: #1F2937;
}

.projectpic {
    width: 100px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #3882F6;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.picwords {
    color: #1F2937;
}
/*Quote*/
.quote {
    background-color: #E5E7EB;
    padding: 5%;
    font-style: italic;
    text-align: justify;
}

#steve {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.steve,
.jobs {
    display: flex;
    justify-content: center;
    margin: 0%;
}
